<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p></p>
      <p>More... info available below:</p>
      <p>{{info}}</p>
      <p></p>
    </div>
    {{>footer}}
  </body>
</html>