<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Len T. It uses data from mapbox and weatherstack api's </p>
      <img class="portrait" src="/img/me.png" />
      <p>
        HI, I'M ERIKA I am a coffee fanatic from northern Illinois who now lives
        in southeast Wisconsin with my husband and dog. I started my photography
        journey while traveling to national parks to photograph wildlife and
        landscapes. I am a people person (and have ADORABLE nephews and a
        BEAUTIFUL niece), so it wasn't surprising that family photography quickly followed.
      </p>
    </div>
     {{>footer}}
  </body>
</html>